#headings {
    padding: 30px;
    text-align: center;
    margin: 20px;
    background-color: beige;
        margin-left: 390px;
        margin-right: 390px;
        margin-top: 10px;
        margin-bottom: 10px
}

#wrapper {
    padding: 30px;
    text-align: center;
    margin: 20px;
    background-color: rgb(169, 159, 220);
}

h1 {
    color:rgb(2, 52, 94);
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h2 {
    color:rgb(192, 22, 22);
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    text-align: center;  
}

h4 {
    color:rgb(6, 35, 119);
    font-family:'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    text-align: center;  
}

p {
    color:rgb(192, 22, 22);
    font-family:"Cambria, Cochin", Georgia, Times, 'Times New Roman', serif;
    text-align: center;    
}

.section.points {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
}

.wrapper {
    align-content: center;
}

ol {
 /*Center Horizontally*/ 
 text-align: center;
 list-style-position: inside;
}

ul {
 text-align: center; 
 list-style-position: inside;   
}

li {
  text-align: center;
  list-style-position: inside;  
}

img.center {
  display: block;
  margin-left:auto;
  margin-right:auto;  
  width: "100px";   
}